header h1 {
  display: block;
}

#aboutMeImgContainer {
  width: 100px;
  float: left;
  display: block;
  margin: 1% 0 0 10%;
}

#aboutMeImgContainer img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
  border: 3px solid #fff;
  box-shadow: rgba(0,0,0,0.5) 0 2px 2px 0;
}

#pageBody {
  margin: 0 auto;
}

#mainContainer {
  margin: 0 auto;
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  #aboutMeImgContainer {
    float: none;
    margin: 2% auto;
  }
}
