.chatDiv {
  max-width: 500px;
}

.chatElement {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #999;
}

#chatInit {
  margin: 0 auto;
}

#peers {
  background-color: #eee;
  min-height: 100px;
}

input {
  display: block;
  margin: 20px auto;
}

#connectionMessage {
  height: 75px;
  margin: 0 auto;
}

#output {
  margin: 0 auto 20px auto;
  height: 300px;
  background-color: #eee;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  #chatInit {
    margin: 0 auto;
  }
}
