@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  width: 100%;
  margin: 0;
  font-family: 'Lato', helvetica, sans-serif;
  color: #333333;
  background-color: #ffffff;
}

a {
  font-weight: 800;
  text-decoration: underline;
  color: #333333;
}

a:hover {
  color: #555;
}

header {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 50%;
  margin: 0 auto;
}

main {
  width: 50%;
  margin: 0 auto 40px auto;
}


/* ---- Nav Menu CSS ---- */
#leftBuffer {
  min-width: 20%;
  width: 30%;
  height: 100%;
  float: left;
}

#navMenu {
  margin: 0 10% 0 10%;
  position: fixed;
}

#navMenu li {
  list-style-type: none;
}

#navMenu li~li {
  margin-top: 10px;
}

#navMenu a {
  display: block;
}

@-o-keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  } 

  100% {
    transform: rotate(3deg);
  }
}
@-moz-keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  } 

  100% {
    transform: rotate(3deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  } 

  100% {
    transform: rotate(3deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  } 

  100% {
    transform: rotate(3deg);
  }
}

#navMenu a:hover {
  -o-animation: wiggle .1s 2;
  -moz-animation: wiggle .1s 2;
  -webkit-animation: wiggle .1s 2;
  animation: wiggle .1s 2;
}

/* Set the current page as italic in the nav menu */
#index .index a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-style: italic;
}

#aboutMe .aboutMe a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-style: italic;
}

#contact .contact a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-style: italic;
}

#posts .posts a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-style: italic;
}

#demos .demos a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-style: italic;
}
/* ---- End Nav Menu CSS ---- */

pre {
    display: table;
    margin: 0 auto;
}

pre code {
  font-family: 'Ubuntu Mono', Consolas, monospace;
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 80%;
  }

  #navMenu {
    position: static;
    width: 80%;
    margin: 20px auto 50px auto;
  }

  #navMenu ul {
    margin: 0;
    padding: 0;
  }

  #navMenu li {
    display: inline-block;
  }

  #navMenu li~li {
    margin-top: 0;
    margin-left: 20px;
  }

  #leftBuffer {
    display: none;
  }

  main {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  header h1 {
    width: 95%;
    margin: 10px auto;
  }

  #leftBuffer {
    display: none;
    width: 0;
  }

  #navMenu {
    padding: 0;
    margin: 50px auto;
    width: 100%;
    text-align: center;
    position: static;
  }

  nav ul {
    margin: 0 auto;
    padding: 0;
  }

  #navMenu li~li {
    margin-top: 20px;
  }

  main {
    width: 90%;
    margin: 0 5%;
  }
}
